//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// Layout mappé pour PC en AZERTY belge
// Position physique → Résultat sur PC AZERTY belge
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <10 11 12 13>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <13 23>;
        };

        combo_enter {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18 19>;
        };

        combo_win {
            bindings = <&kp LGUI>;
            key-positions = <16 17>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                // Rangée du haut: Q W E R T Y U I O P → A Z E R T Y U I O P (AZERTY)
                &kp Q      &kp W      &kp E      &kp R      &kp T           &kp Y      &kp U        &kp I        &kp O      &kp P
                // Rangée du milieu: A S D F G H J K L ; → Q S D F G H J K L M (AZERTY)
                &kp A      &kp S      &kp D      &kp F      &kp G           &kp H      &kp J        &kp K        &kp L      &kp SEMI
                // Rangée du bas: Z X C V B N M , . / → W X C V B N , . : ! (AZERTY)
                &kp LCTRL  &kp Z      &kp X      &kp C      &kp V   &kp B   &kp N      &kp M        &kp COMMA    &kp DOT    &kp FSLH   &kp DEL
                                      &kp LALT   &mo 1      &kp SPACE       &kp BSPC   &mo 2        &kp LSHFT
            >;
            label = "Base";
        };

        nav_layer {
            bindings = <
                // Navigation et chiffres (positions physiques pour AZERTY belge)
                &none          &kp HOME   &kp UP     &kp END    &none           &kp EQUAL  &kp N1       &kp N2       &kp N3     &kp MINUS
                &kp PSCRN      &kp LEFT   &kp DOWN   &kp RIGHT  &none           &kp N0     &kp N4       &kp N5       &kp N6     &kp RBKT
                &kp LCTRL      &none      &kp PG_UP  &kp INS    &kp PG_DN &none &kp GRAVE  &kp N7       &kp N8       &kp N9     &kp BSLH   &kp DEL
                                          &kp LALT   &trans     &kp SPACE       &kp BSPC   &mo 2        &kp LSHFT
            >;
            label = "Nav";
        };

        symb_layer {
            bindings = <
                // Symboles mappés pour AZERTY belge
                &kp LS(N4) &kp LS(FSLH) &kp N3     &kp LS(SQT) &kp RBKT       &kp LS(EQUAL) &kp N1     &kp LS(N1)   &kp LS(N3)  &kp LS(N5)
                &kp NUBS   &kp RA(N5)   &kp RA(N4) &kp LS(N5)  &kp LS(DOT)    &kp RA(EQUAL) &kp LS(RBKT) &kp RA(N7) &kp RA(N0)  &kp LS(NUBS)
                &kp LCTRL  &kp EQUAL    &kp N6     &kp LS(EQUAL) &kp EQUAL &kp RA(N8) &kp RA(N2) &kp LS(DOT) &kp LS(N6) &kp LS(RBKT) &kp RA(EQUAL) &kp DEL
                                        &kp LALT   &mo 1       &kp SPACE       &kp BSPC     &trans     &kp LSHFT
            >;
            label = "Symbole";
        };

        fn_layer {
            bindings = <
                // Touches fonction et Bluetooth
                &kp F1     &kp F2     &kp F3     &kp F4     &kp F5          &bt BT_SEL 0 &kp C_VOL_DN   &kp C_VOL_UP   &kp K_MUTE   &none
                &kp F6     &kp F7     &kp F8     &kp F9     &kp F10         &bt BT_SEL 1 &kp C_PREV     &kp C_PP       &kp C_NEXT   &none
                &kp LCTRL  &kp F11    &kp F12    &none      &none     &kp C_SLEEP &bt BT_SEL 2 &bt BT_SEL 3   &bt BT_SEL 4   &none        &none      &bt BT_CLR
                                      &kp LALT   &trans     &kp SPACE       &kp BSPC     &trans         &kp LSHFT
            >;
            label = "Fn/Media";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        layer_fn {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};